@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
.App {
  font-family: 'Kanit', sans-serif;
  text-align: center;
}

/* hometitle styles */
.homeTitle{
    text-shadow: 1px 1px 5px rgb(117, 105, 105);
    margin-top: 3%;
    font-size: 1rem;
  }


.subTitle{
    font-size: 3rem;
    color: rgb(186, 194, 197);
    text-shadow: 2px 2px 3px #000000;
}

/* inputs label */
label{
  font-size: larger;
   font-weight: 700;
}


.main-div{
  border: 1px solid gray;
  border-radius: 5px;
  margin-left: 12%;
  margin-right: 12%;
  margin-top: 30px;
  background-color: rgb(107, 172, 172);
  box-shadow: 9px 8px 9px  rgb(56, 55, 55);
}


.fa-solid:hover{
  cursor: pointer;
}


.details{
  width:100%;
}

.showList{
  font-style: italic;
  padding-top: 8px;
  
}

/* add button */
.add-btn{
  margin-left: 30%;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid gray;
  box-shadow: 2px 3px 2px rgb(70, 69, 69);
  background-color: green;
  height: 45px;
}